@import './constants';


@mixin font ($fontSize, $lineHeight, $fontWeight, $color: $textColor) {
  font-size: $fontSize;
  line-height: $lineHeight;
  font-weight: $fontWeight;
  color: $color;
}

@mixin flex ($flexDirection, $justify, $align, $wrap) {
  display: flex;
  flex-direction: $flexDirection;
  justify-content: $justify;
  align-items: $align;
  flex-wrap: $wrap;
}