@import './sass/constants';

html {
    scroll-behavior: smooth;
    color: $textColor;
}

* {
    box-sizing: border-box;
}
.container {
    width: 80%;
    margin: 0 auto;
}

a,
a:link,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

h2,
h1 {
    margin: 0;
    padding: 0;
}
