@import '../common/style/sass/constants';
@import '../common/style/sass/mixins';
@import '../common/style/sass/placeholders';
@import '../common/components/button/button.module';


.contacts {
  background-color: $bgFirstColor;
  padding: 100px 0;

  &__container {
    @include flex(column, flex-start, center, nowrap);
  }

  &__form {
    background-color: $bgFirstColor;
    @include flex(column, flex-start, stretch, nowrap);
    gap: 16px;
    align-items: center;
    max-width: 540px;
    width: 100%;
    @media screen and (max-width: 680px) {
      width: 100%;
    }
  }

  &__field {
    background-color: $bgSecondColor;
    padding: 7px 15px;
    border: 1px solid #4a4a4a;
    box-sizing: border-box;
    width: 100%;
    height: 32px;
    @extend %font-additional;
    @include font(12px, 1.5, 400);
    outline: none;
    color: $textColor;
    display: inline-block;

    &::placeholder {
      color: #495057;
    }

    &:-webkit-autofill {
      border: 1px solid #4a4a4a;
      -webkit-text-fill-color: #1f1f20;
      -webkit-box-shadow: 0 0 0 1000px #252527 inset;
      transition: background-color 5000s ease-in-out 0s;
      background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(0, 174, 255, 0.04) 50%, rgba(255, 255, 255, 0) 51%, rgba(0, 174, 255, 0.03) 100%);
    }

    &:focus {
      border: 1px solid $bgSecondColor;
      transition: all 0.4s ease-in-out 0s;
    }

    &_area {
      height: 155px;
      resize: none;
    }
  }
}

button[type='submit'] {
  @extend .button;
  padding: 10px 20px;
  background-color: transparent;
  cursor: pointer;
}
