@import './src/common/style/sass/constants';
@import './src/common/style/sass/mixins';
@import './src/common/style/sass/placeholders';

.skill {
  background-color: $bgSecondColor;
  @include flex(column, center, center, nowrap);
  text-align: center;
  padding: 20px 0;
  width: 250px;

  &__figure {
    width: 60px;
    height: 60px;
    background-color: rgba(255, 255, 255, 0.1);
    @include flex(column, center, center, nowrap);
    transform: rotate(45deg);
    margin-bottom: 40px;
  }

  &__logo {
    display: block;
    width: 50%;
    height: 50%;
    background-size: cover;
    background-position: center;
    transform: rotate(-45deg);
  }

  &__title {
    margin: 0 0 15px 0;
    @extend %font-primary;
    @include font(16px, 1.2, 700);
  }

  &__description {
    @extend %font-additional;
    @include font(12px, 1.8, 400);
  }
}