.jobOptions {
    background-color: lightyellow;
}

.jobOptions_content {
    text-align: center;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    border: rebeccapurple 1px solid;
}

