@import '../common/style/sass/constants';
@import '../common/style/sass/mixins';
@import '../common/style/sass/placeholders';

.testimony {
  background-color: $bgSecondColor;
  padding: 100px 0;

  &__container {
    @include flex(column, space-around, center, nowrap);
  }
}

.skill {
  background-color: $bgSecondColor;
  @include flex(column, center, center, nowrap);
  text-align: center;
  max-width: 500px;
  width: 100%;

  &__figure {
    width: 80px;
    height: 80px;
    background-color: rgba(255, 255, 255, 0.1);
    @include flex(column, center, center, nowrap);
    transform: rotate(45deg);
    margin-bottom: 61px;
  }

  &__logo {
    display: block;
    width: 50%;
    height: 50%;
    background-size: cover;
    background-position: center;
    transform: rotate(-45deg);
  }

  &__title {
    margin: 0 0 15px 0;
    @extend %font-primary;
    @include font(16px, normal, 600);
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
  }

  &__description {
    @extend %font-additional;
    @include font(14px, 1.8, 400);
    margin-bottom: 22px;
  }
}