.skills {
    background-color: #bad7ba;
}

.skills_content {
    margin: 0 auto;
}

.skills_title {
    background-color: lightgrey;
    border: rebeccapurple 1px solid;
    text-align: center;
}
.skills_items {
    background-color: lightyellow;
    border: rebeccapurple 1px solid;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}