@import '../common/style/sass/constants';
@import '../common/style/sass/mixins';
@import '../common/style/sass/placeholders';

.main {
  background-color: $bgFirstColor;
  padding: 40px 0 80px 0;

  &__container {
    @include flex(row, space-around, center, wrap);
    padding: 20px 0;
  }

  &__greeting {
    @include flex(column, flex-start, flex-start, nowrap);

    span {
      @extend %font-additional;
      @include font(16px, 1.2, 300);
      color: $textColor;

      &:nth-child(2) {
        @extend %font-primary;
        @include font(50px, 1.2, 700);
        color: $textColor;
        letter-spacing: 5px;

        span {
          @extend %font-primary;
          @include font(50px, 1.2, 700);
          color: $textColor;
          letter-spacing: 5px;
          position: relative;
          z-index: 0;
          display: inline-block;

          &:before {
            content: '';
            position: absolute;
            width: 100%;
            height: 20px;
            background-color: $primaryColor;
            bottom: 0;
            z-index: -1;
          }
        }
      }
    }
  }

  &__title {
    @extend %font-additional;
    @include font(27px, 1.8, 400);
    margin-bottom: 90px;
  }

  &__button {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 170px;
    height: 36px;
    outline: none;
    background-color: transparent;
    text-decoration: none;
    @extend %font-primary;
    @include font(16px, 40px, 400);
    text-transform: uppercase;
    text-align: center;
    position: relative;
    z-index: 1;

    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 110%;
      bottom: 0;
      background-color: $primaryColor;
      z-index: -1;
      transition: all 0.2s ease-in-out;
    }

    &:hover {

      &::after {
        height: 10px;
        transition: all 0.2s ease-in-out;
      }
    }
  }

  &__figure {
    position: relative;
    z-index: 0;
    @media screen and (max-width: 749px) {
      margin-top: 50px;
    }
  }

  &__photo {
    width: 300px;
    height: 400px;
    background-image: url('./../assets/image/foto_main.jpg');
    background-size: cover;
    background-position: center;

    @media screen and (max-width: 600px) {
      height: 360px;
      width: 260px;
    }

    &:before {
      content: '';
      position: absolute;
      width: 105%;
      height: 110%;
      left: 15px;
      top: -15px;
      border: 5px solid $primaryColor;
      z-index: -1;
    }
  }
}
