.main {
    background-color: lightpink;
}

.main_content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 0;
}

.main_intro {
    background-color: lightgrey;
    width: 300px;
}
.main_photo {
    background-color: lightyellow;
    width: 300px;
    height: 300px;
}