.MyWorks {
    background-color: #f8e0f8;
}

.MyWork_content {
    height: 50vh;
    margin: 0 auto;
}

.MyWork_title {
    background-color: lightgrey;
    border: rebeccapurple 1px solid;
    text-align: center;
}
.MyWork_items {
    background-color: lightyellow;
    border: rebeccapurple 1px solid;
    display: flex;
    justify-content: space-around;
}