@import './src/common/style/sass/constants';
@import './src/common/style/sass/mixins';
@import './src/common/style/sass/placeholders';

.MyWorks {
  background-color: $bgFirstColor;
  padding: 80px 0;

  &__items {
    background-color: $bgFirstColor;
    @include flex(row, space-around, flex-start, wrap);
  }
}