@import './src/common/style/sass/constants';

.MyWorks {
    background-color: $bgFirstColor;
    padding: 80px 0;
    &__content {
        margin: 0 auto;
    }
    &__items {
        background-color: $bgFirstColor;
        border: rebeccapurple 1px solid;
        display: flex;
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: wrap;
    }
}