.work {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 190px;
    text-align: center;
    padding: 20px 0;
}

.work_title {

}

.work_logo {

}


.work_description {

}