@import '../common/style/sass/constants';
@import '../common/style/sass/mixins';
@import '../common/style/sass/placeholders';

.nav {
  width: 300px;
  @include flex(column, center, center, nowrap);
  gap: 20px;

  &__ref {
    text-decoration: none;
    @extend %font-primary;
    @include font(50px, 55px, 400, $primaryColor);
    transition: color 0.3s ease-out;
    border-bottom: solid 3px transparent;


    &:hover {
      box-sizing: border-box;
      color: $textColor;
      border-bottom: solid 3px $textColor;
    }
  }

}