@import './src/common/style/sass/constants';
@import './src/common/style/sass/mixins';
@import './src/common/style/sass/placeholders';

.nav {
  width: 300px;
  @include flex(row, space-between, center, nowrap);
  transition: all 0.3s ease-out;

  &__ref {
    text-decoration: none;
    @extend %font-additional;
    @include font(14px, 1.5, 400);
    transition: all 0.3s ease-out;
  }

}