.footer {
    background-color: #ddf1dd;
}

.footer_content {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border: rebeccapurple 1px solid;
}

.footer_items {
    color: red;
    background-color: lightgray;
    border: solid 1px rebeccapurple;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 600px;
}
.footer_item {
    margin: 10px 5px;
    display: inline-block;
    width: 90px;
    height: 90px;
    border: solid 1px rebeccapurple;
    background-color: aliceblue;
}
