@import '../common/style/sass/constants';
@import '../common/style/sass/mixins';
@import '../common/style/sass/placeholders';

.footer {
  background-color: $bgSecondColor;
  padding: 100px 0;

  &__container {
    @include flex(column, space-around, center, nowrap);
  }

  &__items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 35px;
    max-width: 600px;
    width: 100%;
  }

  &__item {
    margin: 10px 0;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background-color: $bgFirstColor;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease-out;

    &:hover {
      background-color: $primaryColor;
      transform: translateY(-4px);
      transition: all 0.3s ease-out;
    }

    &:hover .footer__ref {
      color: $bgFirstColor;
      transition: all 0.3s ease-out;
    }
  }

  &__ref {
    text-decoration: none;
    @extend %font-additional;
    @include font(16px, 1.5, 400);
    color: $primaryColor;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__copyright {
    text-decoration: none;
    @extend %font-additional;
    @include font(16px, 1.5, 400);
    color: $textColor;
    opacity: 0.6;
  }
}