@import './src/common/style/sass/constants';
@import './src/common/style/sass/mixins';
@import './src/common/style/sass/placeholders';

.footer {
  background-color: $bgSecondColor;
  padding: 100px 0;

  &__container {
    @include flex(column, space-around, center, nowrap);
  }

  &__items {
    color: red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 600px;
  }

  &__item {
    margin: 10px 35px;
    display: inline-block;
  }

  &__ref {
    text-decoration: none;
    @extend %font-additional;
    @include font(16px, 1.5, 400);
    color: $textColor;
  }

  &__copyright {
    text-decoration: none;
    @extend %font-additional;
    @include font(16px, 1.5, 400);
    color: $textColor;
    opacity: 0.6;
  }
}